@media (min-width: 1400px) {
  .text-warning {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-warning-rgb),var(--bs-text-opacity))!important;
    /*padding-left: 80px;*/
  }
}

@media (min-width: 1400px) {
  .text-warning {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-warning-rgb),var(--bs-text-opacity))!important;
    /*padding-left: 80px;*/
  }
}

@media (min-width: 1400px) {
  .hea4 {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-warning-rgb),var(--bs-text-opacity))!important;
    padding-left: 80px;
  }
}

@media (min-width: 1400px) {
  .text-end {
    text-align: right!important;
    padding-right: 80px;
    /*padding-top: 50px;*/
  }
}

@media (min-width: 1400px) {
  .stdent {
    text-align: right!important;
    padding-right: 80px;
    padding-top: 50px;
  }
}

@media (min-width: 300px) {
  .para {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb),var(--bs-text-opacity))!important;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 50px;
  }
}

@media (min-width: 1400px) {
  .para {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb),var(--bs-text-opacity))!important;
    margin-right: 80px;
    margin-left: 80px;
    margin-top: 50px;
  }
}

@media (min-width: 1400px) {
  stendt {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb),var(--bs-text-opacity))!important;
    margin-right: 80px;
    margin-left: 80px;
    margin-top: 50px;
  }
}

@media (min-width: 360px) {
  .img-fluid {
    max-width: 100%;
    height: auto;
    margin-left: 0px;
  }
}

@media (min-width: 1400px) {
  .img-fluid {
    max-width: 100%;
    height: auto;
    margin-left: 150px;
  }
}

@media (min-width: 360px) {
  .sec2 {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
    background: linear-gradient(30deg, white 42%, #ffc124 42%);
    /*margin-top: -48px;*/
  }
}

@media (min-width: 1400px) {
  .sec2 {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
    background: linear-gradient(30deg, white 42%, #ffc124 42%);
    margin-top: -48px;
  }
}

@media (min-width: 1400px) {
  .hea2 {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb),var(--bs-text-opacity))!important;
    margin-top: 50px;
    padding-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (min-width: 1400px) {
  .row1 {
    --bs-gutter-x: 0;
    margin-left: 80px;
    margin-right: 80px;
  }
}

@media (min-width: 360px) {
  .hea {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb),var(--bs-text-opacity))!important;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 50px;
  }
}

@media (min-width: 360px) {
  .para2 {
    text-align: center!important;
    margin-bottom: 80px;
    /*margin-right: 10px;*/
  }
}

@media (min-width: 1400px) {
  .para2 {
    text-align: center!important;
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (min-width: 360px) {
  .para3 {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb),var(--bs-text-opacity))!important;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.stdent {
  text-align: right!important;
  padding-top: 50px;
}

@media (min-width: 360px) {
  .navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0.5rem;
    --bs-navbar-color: rgba(0, 0, 0, 0.55);
    --bs-navbar-hover-color: rgba(0, 0, 0, 0.7);
    --bs-navbar-disabled-color: rgba(0, 0, 0, 0.3);
    --bs-navbar-active-color: rgba(0, 0, 0, 0.9);
    --bs-navbar-brand-padding-y: 0.3125rem;
    --bs-navbar-brand-margin-end: 1rem;
    --bs-navbar-brand-font-size: 1.25rem;
    --bs-navbar-brand-color: rgba(0, 0, 0, 0.9);
    --bs-navbar-brand-hover-color: rgba(0, 0, 0, 0.9);
    --bs-navbar-nav-link-padding-x: 0.5rem;
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.75rem;
    --bs-navbar-toggler-font-size: 1.25rem;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --bs-navbar-toggler-border-color: rgba(0, 0, 0, 0.1);
    --bs-navbar-toggler-border-radius: 0.375rem;
    --bs-navbar-toggler-focus-width: 0.25rem;
    --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
  }
}

@media (min-width: 1400px) {
  .omg {
    vertical-align: middle;
    margin-left: 80px;
  }
}

@media (min-width: 1400px) {
  .txt {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb),var(--bs-text-opacity))!important;
    margin-left: 80px;
  }
}

